/* From Uiverse.io by boryanakrasteva */ 
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
  }
  .icon {
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
  }
  
  .icon path {
    fill: white;
    transition: 0.2s linear;
  }
  
  .btn:hover > .icon {
    transform: scale(1.2);
  }
  
  .btn:hover > .icon path {
    fill: rgb(255, 0, 0);
  }
  

  